img{
    /* float: inline-start; */
     padding-left: 800px;
    
}

/*.main{
    background-color: tomato;
    float:left;
}

.two{
   float: right;
   background-color: dodgerblue;
}
.three{
    float: center;
    background-color: violet;
}*/