body{
    background-image: url('images/afnan.jpg');
     background-repeat: no-repeat;
     background-size:cover;
    }
a{
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}
.container {
    display: flex;
   margin-top: 100px;
 
}
